services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tvshowlogger-api
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - postgres
  postgres:
    image: postgres:latest
    container_name: tvshowlogger-postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_DB: tvshowlogger
      POSTGRES_USER: ${Database__User}
      POSTGRES_PASSWORD: ${Database__Password}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
      
      
  