.card {
  display: flex;
  gap: 16px;
  background: #f4f4f4;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  align-items: center;
}

.poster {
  border-radius: 4px;
  object-fit: cover;
}

.content1 {
  margin: 0 0 6px;
  font-size: 18px;
}