.card {
  position: relative;
  box-sizing: border-box;
  flex: 1 1 300px; 
  min-width: 360px;
  max-width: 475px; 
}

.deleteBtn {
  position: absolute;
  right: 0;
  top: 8px;
  right: 0px;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.deleteBtn:hover {
  background: rgba(255, 0, 0, 0.25);
  color: var(--color-text-main)
}