.container {
  max-width: 1000px;
  margin: 0 auto;
}

.headerRow {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
}

.createForm {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  max-width: 350px;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
}

.createForm input {
  flex: 1;
  width: auto !important;
  display: inline-block !important;
  margin: 0;
}

.createForm button {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #0077ff;
  color: white;
  cursor: pointer;
}

.createForm button:hover {
  background: #005fcc;
}

.watchlistsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-content: flex-start;  
}